body{

    margin:0;
    padding:0;
    line-height: 1.5;
    font-weight: 400;

    color:white;
    background-color: #190415 ;

}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tracks-container{
    padding:2rem;
    padding-bottom: 100px;
    margin:0 auto;
    max-width: 1200px;
    overflow: hidden;
}
.tracks-top-section{
    text-align: center;
    max-width: 600px;
    margin:0 auto; 

}

.tracks-timeline{
    position:relative;
    min-height: 150px;
}
.tracks-line{
    position: absolute;
    z-index: 1;
    left: calc(50%);
    width:2px;
    top:-50px;
    bottom:-50px;
    background-color: #fff;
}
.tracks-line:before,
.tracks-line:after{
    position: absolute;
    display: block;
    content:'';
    height:1rem;
    width:1rem;
    border-radius: 50%;
    background-color: #fff;
    left:50%;
    transform:translateX(-50%);
}

.tracks-line:after{
    bottom:0;
}

.tracks-section{
    display:flex;
    opacity:0;
    transform:translateX(-100%);
    transition: 600ms ease;
    position:relative;
    z-index:1;
    margin:100px 0;
    padding:1rem;
    min-height: 300px;
    width: fit-content;
    letter-spacing: 1.5px;
    word-spacing: 3px;
}
.tracks-section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
    position:absolute;
    right:0%;
    top:25%;
    width:fit
}

.tracks-bead{
    position: absolute;
    display: block;
    height: 1rem;
    width:1rem;
    border-radius: 50%;
    background-color: #fff;
    right:-10%;
    top:18%;
    transform: translateX(-50%);
    z-index:2;
}

.tracks-bead:after{

    border-bottom: 2px solid white;
    content: "";
    height: 0px;
    position: absolute;
    top:50%;
    right:1px;
    width: 50px;
}


.tracks-content{
    position: relative;
    width:500px;
    padding: 30px;
    
    
}
.tracks-content:nth-child(odd){
    padding-right:20px ;
}
.tracks-content:before {
    background: transparent;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 50px;
}
.tracks-content:after {
    background: transparent;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    content: "";
    height: 100%;
    right: -10px;
    position: absolute;
    top: -10px;
    width: 50px;
}
.tracks-content p{
    margin-right:5px ;
}

.tracks-content:nth-child(odd)::after{
    background: transparent;
    border-right: 0px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    content: "";
    height: 100%;
    left: -1200px;
    position: absolute;
    top: -10px;
    width: 50px;   
}
.tracks-inner-container:hover .tracks-bead{
    background-color: #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-bead::after{
    border-bottom: 2px solid #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-content{
    cursor:pointer;
    color:#ff9a92;
}
.tracks-inner-container:hover .tracks-content::after{
    border-color:  #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-content::before{
    border-color:  #ff9a92;
    cursor: pointer;
}
.tracks-content:nth-child(odd):before{
    background: transparent;
    border-left: 0px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    content: "";
    height: 100%;
    position: absolute;

    bottom: -50px;
    width: 50px;

}
.tracks-bead-odd{
    left:-6.5%;
}

.tracks-bead-odd:after{
    border-bottom: 2px solid white;
    content: "";
    height: 0px;
    position: absolute;
    top:50%;
    left:2px;
    width: 50px;
}

.show-me:nth-child(n){
    transform:none;
    opacity:1;

}

.tracks-h1{
    font-weight: 900;
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    text-align: center;
    
}
.tracks-h2{
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}


@media only screen and (max-width:850px){
    .tracks-top-section{
        padding:3rem 0rem;
    }
    .tracks-section{
        width:100%;
    }
    .tracks-section:nth-child(odd){
        position: relative ;
    }
    .tracks-content{
        width:500px;
    }
    .tracks-section{
        transform:translateX(100%);
        margin:50px 0;
        padding-left: 6%;
    }
    .tracks-bead{
        left:3%;
    }
    .tracks-section:nth-child(odd){
        flex-direction: row;
        padding-left: 6%;
    }
    .tracks-content p{
        margin-left:20px
    }
    .tracks-line{
        left:calc(3%);
    }
    .tracks-bead:after{
        left:2px;
    }
    .tracks-content:after{
        border-right: 0px;
        border-left:5px solid white;
        left: 20px;
    }
    .tracks-content:before{
        border-left: 0px;
        border-right:5px solid white;
        left: 500px;
    }
    .tracks-content h2{
        margin-left:20px;
    }
    .tracks-bead-odd{
        left:3.5%;
    }

}
@media only screen and (max-width:650px){
    .tracks-section{
        transform:translateX(100%);
        margin:50px 0;
        padding-left: 3%;
    }

    .tracks-section:nth-child(odd){
        flex-direction: row;
        padding-left: 3%;
    }
    .tracks-bead:after{
        left:2px;
        width:30px;
    }
    .tracks-container{
        padding:10px;
    }
}
@media only screen and (max-width:410px){

    .tracks-content:before{
        left: 75%;
    }
    .tracks-content p{
        margin-right:10px;
    }
}

@media only screen and (min-width:850px)and (max-width:1195px){
    .tracks-container{
        max-width: 760px;
    }
    .tracks-bead{
        right: -10%;
    }
    .tracks-bead::after{
        width: 30px;
    }
    .tracks-content{
        width: 300px;
    }
    .tracks-bead-odd{
        left: -4.5%;
    }
}

@media only screen and (max-width:620px){
    .tracks-content{
        width:450px;
    }
    .tracks-content:before{
        left:450px;
    }
}
@media only screen and (max-width:540px){
    .tracks-content{
        width:350px;
    }
    .tracks-content:before{
        left:350px;
    }
}
@media only screen and (max-width:435px){
    .tracks-content{
        width:300px;
    }
    .tracks-content:before{
        left:300px;
    }
}
@media only screen and (max-width:365px){
    .tracks-content{
        width:275px;
    }
    .tracks-content:before{
        left:275px;
    }
}



/* Guests */
.guests-container{
    position: relative;
    margin-top: 250px;
    margin-bottom: 250px;
}

#guests-h1{
    width: fit-content;
    margin: 0;

}

.guests-inner-container{
    position: relative;
    width:100vw;
    height:60vh;
    background-color:#ff9a92;
    display:flex;
    margin: 0;
}
.guests-content{
    width: 55%;
    padding:50px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}
#guest-name{
    height: fit-content;
    font-size: 80px;
    width: fit-content;
    margin: 0;
}



#guest-image{
    height: 80vh;
    position: absolute;
    bottom: 0;
    right: 0%;
    
    
}

.guests-wave{
    
    position: absolute;
    bottom:60vh;
    width: 100%;

}

#guest-mobileview{
    display: none;
}
.guests-mobile-container{
    position: relative;
    display: flex;
    justify-content: center;
}
.guests-mobile-wave{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: none;
}
@media only screen and (max-width:1450px) {
    #guest-image{
        height: 75vh;
    }
    #guest-name{
        font-size:50px;
    }
    .guests-content{
        width:45%;
    }
}
@media only screen and (max-width:1170px) {
    #guest-image{
        height: 70vh;
    }
    #guest-name{
        font-size:40px;
    }
    .guests-content{
        width:45%;
    }
}
@media only screen and (max-width:1030px){
    .guests-content{
        padding:20px;
    }
}
@media only screen and (max-width:980px){
    #guest-image{
        height: 60vh;
    }
    .guests-wave{
        bottom:50vh;
    }
    .guests-inner-container{
        height: 50vh;
    }

    #guest-name{
        font-size:30px;
    }
    .guests-content{
        padding:15px;

    }
}
@media only screen and (max-width:780px){
    #guest-image{
        height: 40vh;
    }
    .guests-wave{
        bottom:30vh;
    }
    .guests-inner-container{
        height: 30vh;
    }
    #guest-name{
        font-size:20px;
    }
    .guests-content{
        padding:10px;
        width:50%;
    }
    #guests-h1{
        font-size: 30px;
    }
}
@media only screen and (max-width:680px){
    #guest-image{
        height: 27vh;
    }
    .guests-wave{
        bottom:25vh;
    }
    .guests-inner-container{
        height: 25vh;
    }
    #guest-name{
        font-size:15px;
    }
    .guests-content{
        padding:10px;
        width:60%;
        font-size: 14px;
    }
    #guests-h1{
        font-size: 25px;
    }
}

@media only screen and (max-width:500px){
    #guest-image{
        height: 30vh;
    }
    .guests-inner-container{
        height: fit-content;
    }
    .guests-wave{
        top:-7vh;
    }
}
@media only screen and (max-width:450px){
    .guests-wave{
        top:-5vh;
    }
}

@media only screen and (max-width:430px){
    #guest-image{
        display: none;
        
    }
    #guest-mobileview{
        display: block;
        height: 40vh;
        max-width: 100%;   
    }
    .guests-wave{
        display: none;
    }
    .guests-inner-container{
        height: fit-content;
    }
    #guest-name{
        font-size:35px;
        padding: 10px;
    }
    .guests-content{
        padding:10px;
        width:100%;
        font-size: 14px;
    }
    .guests-content p{
        padding: 10px;
    }
    #guests-h1{
        font-size: 35px;
        margin: 30px 0px;
    }
    .guests-mobile-wave{
        display: block;
        width: fit-content;
        max-width: 100%;
    }
}

@media only screen and (min-height:1000px){
    #guest-image{
        height: 40vh;
    }
}