body{

    margin:0;
    padding:0;
    line-height: 1.5;
    font-weight: 400;

    color:white;
    background-color: #190415 ;

}
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tracks-container{
    padding:2rem;
    padding-bottom: 100px;
    margin:0 auto;
    max-width: 740px;
    overflow: hidden;
   
}
.tracks-top-section{
    text-align: center;
    padding:0rem 0;
    max-width: 600px;
    margin:0 auto; 
}
.tracks-timeline{
    position:relative;
    min-height: 150px;
}
.tracks-line{
    position: absolute;
    z-index: 1;
    left: calc(50%);
    width:2px;
    top:-50px;
    bottom:-50px;
    background-color: #fff;

}
.tracks-line:before,
.tracks-line:after{
    position: absolute;
    display: block;
    content:'';
    height:1rem;
    width:1rem;
    border-radius: 50%;
    background-color: #fff;
    left:50%;
    transform:translateX(-50%);
}

.tracks-line:after{
    bottom:0;
}

.tracks-section{
    display:flex;
    opacity:0;
    transform:translateX(-100%);
    transition: 600ms ease;
    position:relative;
    z-index:1;
    margin:100px 0;
    padding:1rem;
    border-radius: 1rem;
    align-items:center;
    min-height: 300px;
    border: #fff;
    width: fit-content;
}
.tracks-section:nth-child(odd){
    flex-direction: row-reverse;
    transform: translateX(100%);
    position:absolute;
    right:0%;
    top:25%;
}
.tracks-bead{
    position: absolute;
    display: block;
    height: 1rem;
    width:1rem;
    border-radius: 50%;
    background-color: #fff;
    right:-7%;
    top:18%;
    transform: translateX(-50%);
    z-index:2;
}

.tracks-bead:after{

    border-bottom: 2px solid white;
    content: "";
    height: 0px;
    position: absolute;
    top:50%;
    right:1px;
    width: 50px;
}


.tracks-content{
    position: relative;
    width:300px;
    /* border: #fff ;
    border-width: 4px;
    border-style: solid; */
    padding: 30px;
    
}
.tracks-content:before {
    background: transparent;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    content: "";
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 50px;
}
.tracks-content:after {
    background: transparent;
    border-right: 5px solid white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    content: "";
    height: 100%;
    right: 20px;
    position: absolute;
    top: -10px;
    width: 50px;
}
.tracks-content p{
    margin-right:5px ;
}
.tracks-content-odd:after{
    background: transparent;
    border-right: 0px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    content: "";
    height: 100%;
    left: 20px;
    position: absolute;
    top: -10px;
    width: 50px;

}
.tracks-inner-container:hover .tracks-bead{
    background-color: #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-bead::after{
    border-bottom: 2px solid #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-content{
    cursor:pointer;
    color:#ff9a92;
}
.tracks-inner-container:hover .tracks-content::after{
    border-color:  #ff9a92;
    cursor: pointer;
}
.tracks-inner-container:hover .tracks-content::before{
    border-color:  #ff9a92;
    cursor: pointer;
}
.tracks-content-odd:before{
    background: transparent;
    border-left: 0px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    content: "";
    height: 100%;
    left: 300px;
    position: absolute;
    bottom: -50px;
    width: 50px;

}
.tracks-content-odd p{
    margin-left:20px;
}
.tracks-bead-odd{
    left:-1.5%;
}

.tracks-bead-odd:after{
    border-bottom: 2px solid white;
    content: "";
    height: 0px;
    position: absolute;
    top:50%;
    left:2px;
    width: 50px;
}

.show-me:nth-child(n){
    transform:none;
    opacity:1;

}
.tracks-h1{
    font-weight: 900;
    font-family: "Rubik", sans-serif;
    font-size: 50px;
    text-align: center;
    
}
.tracks-h2{
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-size: 25px;
}
.tracks-content-odd h2{
    margin-left:20px;
}

/* .mimick{
    width:100vw;
    height:100vh;
}  */


@media only screen and (max-width:850px){
    .tracks-section{
        width:100%;
    }
    .tracks-section:nth-child(odd){
        position: relative ;
    }


    .tracks-section{
        transform:translateX(100%);
        margin:50px 0;
        padding-left: 6%;
    }
    .tracks-bead{
        left:3%;
    }
    .tracks-section:nth-child(odd){
        flex-direction: row;
        padding-left: 6%;
    }
    .tracks-content p{
        margin-left:20px
    }

    .tracks-line{
        left:calc(3%);
    }
    .tracks-bead:after{
        left:2px;
    }
    .tracks-content:after{
        
        border-right: 0px;
        border-left:5px solid white;
        left: 20px;
  
    }
    .tracks-content:before{

        border-left: 0px;
        border-right:5px solid white;
        left: 300px;


    }
    .tracks-content h2{
        margin-left:20px;
    }

}
@media only screen and (max-width:650px){
    .tracks-section{
        transform:translateX(100%);
        margin:50px 0;
        padding-left: 3%;
    }

    .tracks-section:nth-child(odd){
        flex-direction: row;
        padding-left: 3%;
    }
    .tracks-bead:after{
        left:2px;
        width:30px;
    }
    .tracks-container{
        padding:10px;
    }


}
@media only screen and (max-width:410px){

    .tracks-content:before{
        left: 75%;
    }
    .tracks-content p{

        margin-right:10px;
    }
}
