.navbar {
    background-color: #190415;
    text-align: center;
    background: transparent;
}

.navbar-brand {
    width: 10%;
}

html {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: #190415;
}

.test {
    height: 100vh;
    background-color: #190415;
}

html::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    z-index: 999;
}

.nav-link {
    color: white;
}

.navi a:hover {
    scale: 1.1;
    color: #190415;
    transition: ease-in-out 0.5s;
}

.navbar.scrolled {
    background-color: #190415;
}

.navi.scrolled a:hover {
    color: #ff9a92;
}


.parallax {
    width: 100vw;
    background-image: linear-gradient(#FD7D7C 3%, #FC9E85 12%, #FFCBA4 20%)
}

#Layer-4 {
    width: 100vw;
    position: relative;
    top: 0;
    bottom: 0;
}

#Layer-3 {
    width: 100vw;
    position: absolute;
    top: 0px;
    left: -10px;
}

#Layer-2 {
    width: 102vw;
    position: absolute;
    top: 28%;
    left: -10px;
}

#Layer-1 {
    width: 102vw;
    position: absolute;
    top: -5%;
    left: -10px;
    z-index: 3;
}

#Sun {
    position: absolute;
    width: 42%;
    top: 0;
    left: 28%;
    margin-top: 16%;
    z-index: 0;
}

#Logo {
    position: absolute;
    width: 40%;
    top: 0%;
    left: 31%;
    margin-top: 6%;
}

#Cloud-1 {
    position: absolute;
    left: 70%;
    top: 10%;
}

#Cloud-2 {
    position: absolute;
    left: 20%;
    top: 10%;
}


.content {
    background-color: #190415;
    height: 100vh;
    width: 100vw;
}

@media (max-width: 768px) {

    .parallax {
        height: 80vh;
        position: relative;
    }

    #Layer-4 {
        width: 102vw;
        position: relative;
        top: 0%;
        left: -1%;
    }
    
    #Layer-3 {
        width: 102vw;
        position: absolute;
        top: 0%;
        left: -1%;
    }
    
    #Layer-2 {
        width: 102vw;
        position: absolute;
        top: 34%;
        left: -1%;
    }
    
    #Layer-1 {
        width: 102vw;
        position: absolute;
        top: 0;
        left: -1%;
    }
}

@media (max-width: 600px) {

    .parallax {
        height: 60vh;
        position: relative;
    }

    #Layer-4 {
        width: 102vw;
        position: absolute;
        top: 0%;
        left: -1%;
    }
    
    #Layer-3 {
        width: 102vw;
        position: absolute;
        top: 0%;
        left: -1%;
    }
    
    #Layer-2 {
        width: 102vw;
        position: absolute;
        top: 30%;
        left: -1%;
    }
    
    #Layer-1 {
        width: 102vw;
        position: absolute;
        top: 0;
        left: -1%;
    }

}

@media (max-width: 450px) {
    
    .parallax {
        height: 40vh;
    }
}

@media screen and (max-width: 992px) {
    .navbar{
      margin-left: 0;
      margin-right: 0;
      display: flex;
    }
    .navbar-brand{
        align-items: center;
    }
  }